<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711363331960-9qcfiiqqpbbr97pv609l36kdilgipp21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711363331960-9qcfiiqqpbbr97pv609l36kdilgipp21</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0G4614LJfLFv40v8xoR87s18X-i_qq4</string>
	<key>GCM_SENDER_ID</key>
	<string>711363331960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShutApp.ShutAppiOS</string>
	<key>PROJECT_ID</key>
	<string>shutappios</string>
	<key>STORAGE_BUCKET</key>
	<string>shutappios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711363331960:ios:02d00d7f65ca8a0a386a8d</string>
</dict>
</plist>